/* components*/
@import "components/status-bar.css";
@import "components/header.css";
@import "components/navbar.css";
@import "components/user-component.css";
@import "components/contour.css";
@import "components/openchats.css";
@import "components/icons.css";

/*screen styles*/
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/search.css";


/*resets */
@import "reset.css";

/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&family=Roboto+Condensed:wght@400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}


/* basic icon settings */
.material-symbols-outlined{
    margin: 0px 2px;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48
}

/*header settings -- due to the fixed statbar */

main{
    padding:30px 25px;
    background-color:rgba(0,0,0,0.03);
    height:1200px;
}
