/* components*/
@import "components/status-bar.css";
@import "components/header.css";
@import "components/navbar.css";
@import "components/user-component.css";
@import "components/contour.css";

/*screen styles*/
@import "screens/login.css";
@import "screens/friends.css";

/*resets */
@import "reset.css";

/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&family=Roboto+Condensed:wght@400;700&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}


/* basic icon settings */
.material-symbols-outlined{
    margin: 0px 5px;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48
}
