
.navbar_list{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:rgba(128, 151, 252,0.4);
    padding: 20px 100px;

}

.nav_link{
    color:black;
}