.status-bar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:10px 5px;
    position:fixed;
    top:0px;
    width:100%;
    background-color:#fff;
}

.status-bar__column:first-child span{
    margin-right:8px;
}

.status-bar__column{
    display:flex;
    align-items:center;
}
